element {--site_colour: #ef5151;}
body {font-family: 'PT Sans Narrow', sans-serif;}

a {
    text-decoration: none !important;
    color: black !important;
}

.nav_links {margin-right: 50px;}
.nav_links a {margin-right: 20px;}
.nav_links a:hover {
    color: #ef5151 !important;
}