<div class="push"></div>
<div class = "footer">
	<p id="footerLinks">
		&copy; Dare Hairdressing <span id = "date"></span> All Rights Reserved</br>
		<a id = "address" href = "https://www.google.co.uk/maps/place/Dare+Hairdressing/@56.0672639,-3.4159263,16z/data=!4m2!3m1!1s0x0:0xaee45c079391a266" target = "_blank">155 Linburn Road, Dunfermline, Fife</a></br>
		<a id = "number" href="tel:01383625515">01383625515</a></br>
	</p>
	
	<div class = "social">
		<a href = "https://en-gb.facebook.com/DareHairdressing/" target = "_none"><img alt="facebook" src = "../img/icons/footerfacebook.png"></a>
		<a href = "https://www.instagram.com/dare_hairdressing" target = "_none"><img alt="instagram" src = "../img/icons/footerinstagram.png"></a>
	</div>
</div>