<div class="row">
    <div class="col-md-12">
        <div class="navigation">
            <div class="logo float-left">
                <a href="/"><h2>Dare Hairdressing</h2></a>
            </div>

            <div class="nav_links float-right">
                <a href="/">Home</a>
                <a href="/prices/">Price List</a>
                <a href="/contact/">Contact</a>
                <a href="/opening_times/">Opening Times</a>
                <a href="https://www.isalononline.com/DareHairdressing">Book an Appointment</a>
            </div>
        </div>
    </div>
</div>

<!--Mobile Menu-->
<div class="menuButton" id="menuButton" onclick="decide(this);">
    <div id = "bar1"></div>
    <div id = "bar2"></div>
    <div id = "bar3"></div>
</div>
<div id ="nav">
    <ul>
        <a href = "/"><li>Home<span style = "float: right; padding-right: 2%;">></span></li></a>
        <a href = "prices" id = "/test/prices"><li>Prices<span style = "float: right; padding-right: 2%;">></span></li></a>
        <a onClick="contact(); flash(); decide(button);"><li>Contact us<span style = "float: right; padding-right: 2%;">></span></li></a>
        <a href = "opening-times"><li>Opening times<span style = "float: right; padding-right: 2%;">></span></li></a>
        <a href = "https://www.isalononline.com/DareHairdressing" target="_none"><li>Book an appointment<span style = "float: right; padding-right: 2%;">></span></li></a>
    </ul>
</div>
<!---->