<div class="row">
    <div class="col-md-12">
        <nav>
            <div class="logo float-left">
                <a href="/"><h2>Dare Hairdressing</h2></a>
            </div>

            <div class="nav_links float-right">
                <a href="/">Home</a>
                <a href="/prices/">Price List</a>
                <a href="/contact/">Contact</a>
                <a href="/opening_times/">Opening Times</a>
                <a href="https://www.isalononline.com/DareHairdressing">Book an Appointment</a>
            </div>
        </nav>
    </div>
</div>