html, body {overflow-x: hidden;}
.container-fluid {padding: 0!important;}
body {font-family: 'PT Sans Narrow', sans-serif;}
.push {display: none;}
#nav, .menubutton {display: none;}
.mobdropdown {display: none;}
a {
  text-decoration: none !important;
  color: black !important;
}